<!DOCTYPE HTML>
<html>
<head>
	<title>login</title>
	<script>
	var registerResult = {{ registerResult }};
	if ( == true){
		alert("[+] register success!");
	} else {
		alert(registerResult);
	}
	</script>
</head>
<body>
	hi this is login page
	not implemented yet

	<form id="form1" method="POST" action="/login">
		<input type="text" name="userid" value="">
		<input type="password" name="userpw" value="">
		<input type="submit" value="login">
	</form>

	if you don't have account?
	<a href="/register">register</a>
</body>
</html>