<!DOCTYPE HTML>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="/static/chat.css" type="text/css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
<script type="text/javascript" src="/static/chat.js"></script>
<script>
	var uuid = getCookie("uuid");
	var userid = getCookie("userid");
	var focusedUser = null;
	var sock = io.connect(`ws://${document.location.host}/`);
	var profileImage;


	// on document ready
	$(document).ready(function(){
		
		window.onbeforeunload = function(e) {
		  sock.disconnect();
		};

		sock.on('connect', function(){
			var data = {'channel':uuid, 'userid':userid};
			sock.emit("join",data);
		});

		sock.on('join', function(data){
			console.log("[+] join "+data);
			if(data["result"] == "fail"){
				alert("join room fail")
			}
		})

		// when get a new chat message
		sock.on('newchat', function(data){
			if(data.result == 0){
				console.log("[x] err... "+data.msg);
			}else if(data.result == 1 && focusedUser == data.msg.from){
				console.log(`[+] newchat ${data.msg.from}->${data.msg.to} : ${data.msg.msg}`);
				setTimeout(getmessage,300,focusedUser)//appendMessages(data.msg);
				setTimeout(getlist,300);
			}else if(data.result == 1 && focusedUser != data.msg.from){
				console.log(`[+] newchat2 ${data.msg.from}->${data.msg.to} : ${data.msg.msg}`);
				setTimeout(getlist,300);
			}
		})

		sock.on('uploadImageResult', function(data){
			console.log(data);
			if(typeof(data)=="string"){
				if(data.indexOf('[x]') > -1){
					alert("[x] upload error")
				}
			}

			$("#file1")[0].value="";

			setTimeout(getmessage,300,focusedUser);
		})

		sock.on('getchatmsg', function(datas){
			if(datas.length < 1 || typeof(datas) == "string"){
				console.log(datas);
				return;
			}
			var appendHTML = "";
			var cnt = 0;
			
			for (var data of datas) {
				console.log(data);
				var datestr = getDateStr(data.chatdate)

				if(data.isImage == true){
					data.chatmsg = `<img src="${data.content}">`
				} else {
					data.chatmsg = eval(`data.chatmsg='${data.chatmsg}'`);
				}
				if (data.chatfrom == userid) {
        	appendHTML += `<div class="outgoing_msg">
              <div class="sent_msg">
                <p>${data.chatmsg}</p>
                <span class="time_date"> ${datestr}</span> </div>
            </div>
            `
        } else if (data.chatto == userid){
					appendHTML += `<div class="incoming_msg">
		              <div class="incoming_msg_img"> <img src="${profileImage}"> </div>
		              <div class="received_msg">
		                <div class="received_withd_msg">
		                  <p>${data.chatmsg}</p>
		                  <span class="time_date"> ${datestr}</span></div>
		              </div>
		            </div>
		            `
        }  else {
        	console.log("[x] ?? what's going on?");
        }
			  	
			}
			$(".msg_history").html(appendHTML);
			$(".msg_history").scrollTop($(".msg_history")[0].scrollHeight);
			return true;
		})

		sock.on('getlist', async function(datas){
			if(datas.length < 1){
				roomadd(userid);
				roomadd('welcomebot');
			} else if (typeof(datas) == "string"){
				console.log(datas);
				return;
			}
			console.log(datas);
			var appendHTML = "";
			var cnt = 0;
			for (var data of datas) {
				console.log(data);
				var active_chat = "";
				var chatto;
				if (cnt == 0) { active_chat = "active_chat"; }
				if((data.user_a == data.user_b)){
					chatto = data.user_a;
				}
				else if(data.user_a == userid && data.user_b != userid){
					chatto = data.user_b;
				}
				else if(data.user_b == userid && data.user_a != userid){
					chatto = data.user_a;
					console.log("?? "+data.user_b+" "+chatto)
				}
				var chatto_profileImage = await getProfileImage(chatto);

				appendHTML += `<div class="chat_list ${chatto} ${active_chat}" onclick=getmessage("${chatto}")>
	              <div class="chat_people">
	                <div class="chat_img"> <img src="${chatto_profileImage}"> </div>
	                <div class="chat_ib">
	                  <h5>${chatto}<span class="chat_date">${data.lastdate}</span></h5>
	                  <p>${data.lastmsg}</p>
	                </div>
	              </div>
	            </div>
	            `
			  	cnt += 1;
			}
			$(".inbox_chat").html(appendHTML);
			$(".active_chat").click();
			return true;
		})

		sock.on('roomadd', function(datas){
			console.log(datas);
			if(typeof(datas)=="string"){
				alert(datas);
			}
			getlist();
		})

		if(getlist() == false){
			alert("getlist error");
		}

		$("#sendform").submit(function(event){
			event.preventDefault();
			var data = {
				"command": "chatsend",
				"date": maketime(),
				"from": userid,
				"to": focusedUser,
				"msg": $("input[name=msg]").val()
			};
			
			if(data.msg.length > 1000){
				alert("[x] msg length is too long");
				return false;
			}

			if(data["to"] == userid){
				data["sendtome"] = 'true';
			}
			
			sock.emit("chatsend", data);
			
			$(".write_msg").val("");
			setTimeout(getchatmsg,300,focusedUser);
			setTimeout(getlist,300);
		})

		$("#uploadImage").click(function(e){
			e.preventDefault();
			$("#file1").click();
		})

		$("#roomadd").click(function(e){
			e.preventDefault();
			
			var chatto = prompt("input user id");
			roomadd(chatto);
		
		})

	});


</script>
</head>
<body>
<div class="container">
<h3 class=" text-center">FSI CHAT SERVICE</h3>
<div class="top_bar">
	<a href="/logout">logout</a>
</div>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <div class="recent_text"><h4>Recent</h4> </div>
              <div class="recent_add"><h5><a id="roomadd" href="javascript:1">+ new room</a></h5></div>
            </div>
          </div>
          <div class="inbox_chat">
            
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            
           
          </div>
          <div class="type_msg">
          	<div class="input_file">
		          		<img src="/static/uploadicon.png" id="uploadImage">
		          		<form id="uploadImageForm" action="/uploadImage" method="POST" enctype="multipart/form-data">
		          			<input id="file1" type="file" name="image" style="display:none;" onchange="doUpload(this)">
		          		</form>
		        </div>
            <div class="input_msg_write">
              <form id="sendform">
                <input type="text" class="write_msg" name="msg" placeholder="Type a message" />
                <input type="hidden" id="sendto" name="to" value="">
                <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
</div></div>
</body>
</html>
